.projectsContent {
  text-align: center;
}

.projectsBlock {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  height: 100%;
}

@media (max-width: 768px) {
  .projects {
    min-height: 70vh;
  }
}