@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";

.customTitle h3 {
  @include font(26px, 600);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 48px;
}

@media (max-width: $mobile) {
  .customTitle h3{
    @include font(21px, 600);
    text-align: left;
  }
}