@import "src/common/styles/variables/variables";

.burgerMenu {
  display: none;
  width: 54px;
  height: 54px;
  border-radius: 5px;
  z-index: 1;
  margin-left: auto;
}

@media (max-width: $tablets) {
  .burgerMenu {
display: flex;
  }
}