.skills {
  min-height: 100vh;
  background-color: #7cdc58;
}

.skillsContent {
  text-align: center;
}

.title {
  background-color: #c0ad91;
}

.skillsBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
  border: 1px solid;
}

@media (max-width: 768px) {
  .skills {
    min-height: 70vh;
  }
}