@import "src/common/styles/variables/variables";
@import "src/common/styles/mixins/mixins";

.title {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 80px 0;

  h1 {
    @include font(56px, 900);
    text-transform: uppercase;
    margin: 0;

    span {
      text-transform: uppercase;
      color: $primaryColor;
    }
  }

  .aboutContent {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .titleBg {
    color: rgba(30, 37, 48, 0.07);
    @include font(110px, 800);
    @include leftTop(0, 50%);
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transform: translateY(-50%);
  }
}


@media (max-width: $lSPhones) {
  .title {
    .titleBg {
      @include font(89px, 800);
    }
  }
}

@media (max-width: $mobile) {
  .title {
    text-align: left;
    padding-bottom: 30px;
    padding-top: 10px;

    h1 {
      @include font(46px, 900);
    }
  }
  .titleBg {
    display: none;
  }
}

@media (max-width: $mobileXS) {
  .title {
    h1 {
      @include font(26px, 900);
    }
  }
}