@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";

.skillItems {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

}

.skillItem {
  flex: 0 0 25%;
  margin-bottom: 30px;

  span {
    @include flex(flex, center, center);
    @include wh(120px,120px);
    background: $elementsBc;
    font-size: 24px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
  }
}