.project{
  flex: 0 1 33.333%;
  padding: 0 5px;
}
.projectContent {
  background-color: #8d8f8e;
}

.image{
  position: relative;
  padding: 0 0 58% 0;
  overflow: hidden;
}
.image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.showProject{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #c5aca6;
}
.showProject h3{
  margin: 0;
}

.title{
  background-color: #7cdc58;
  margin-bottom: 20px;
}
.description{
  background-color: #7cdc58;
}

.title h3 {
  margin: 0;
}

@media (max-width: 1020px) {
  .showProject{
    width: 80%;
  }
}
@media (max-width: 768px) {
  .project{
    flex: 0 1 50%;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .project{
    flex: 0 1 100%;
    margin-bottom: 10px;
  }
}