@mixin wh($w,$h){
  width: $w;
  height: $h;
}
@mixin leftTop($l,$t){
  left: $l;
  top: $t;
}
@mixin background($size, $repeat, $position){
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin font($size,$weight){
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($display, $alignItems, $justifyContent){
  display: $display;
  align-items: $alignItems;
  justify-content: $justifyContent;
}