@import "src/common/styles/variables/variables";
@import "src/common/styles/mixins/mixins";


.mainBlockContent {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 30px;


  .colorBlock {
    background-color: $primaryColor;
    position: fixed;
    @include wh(100%, 200%);
    @include leftTop(-83%, -50%);
    transform: rotate(-15deg);
  }

  .welcomeBlock {
    position: relative;
    @include wh(100%, 100%);
    @include flex(flex, center, space-between);
    flex-wrap: wrap;

    .photo {
      @include background(cover, no-repeat, top);
      box-shadow: 0 0 7px rgba(0, 0, 0, .3);
      border-radius: 15px;
      padding-bottom: 47%;
      flex: 0 0 33.333%;
    }

    .aboutMe {
      flex: 0 0 33.333%;

      .greeting h6 {
        color: $secondTextColor;
        @include font(22px, 400);
        font-family: $secondFont;
        margin: 0;
        text-transform: uppercase;
      }

      .me {
        h1 {
          @include font(45px, 700);
          line-height: 45px;
          margin: 18px 0 10px;
          text-transform: uppercase;

          span {
            color: $primaryColor;
          }
        }
      }

      &Info {
        margin: 10px 0 23px;
        font-size: 16px;
        line-height: 32px;
        font-family: $secondFont;
      }
    }
  }
}


@media (max-width: $xl) {
  .mainBlockContent {
    .welcomeBlock {
      .aboutMe {
        flex: 0 0 48%;
      }
    }
  }
}


@media (max-width: $tablets) {
  .mainBlockContent {
    height: auto;
    flex: 1;
    flex-direction: column;

    .colorBlock {
      display: none;
    }

    .welcomeBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      max-width: 550px;
      width: 100%;

      .photo {
        @include background(cover, no-repeat, center);
        border-radius: 50%;
        width: 270px;
        height: 270px;
        margin: 0 auto 25px;
        padding-bottom: 0;
        flex: none;
      }

      .aboutMe {
        flex: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .mainBlockContent {
    .welcomeBlock {
      .photo {
        @include background(cover, no-repeat, center);
        width: 160px;
        height: 160px;
        margin: 0 0 12px 0;
      }



      .aboutMe {
        .me {
          h1 {
            font-size: 29px;
            line-height: 29px;
            margin: 18px 0 13px;
          }
        }

        .greeting h6 {
          font-size: 19px;
        }

        &Info {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }
}

@media (max-width: $mobileXXS) {
  .mainBlockContent {
    margin-top: 10px;
    .welcomeBlock {
      .photo{
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
      }
      .aboutMe {
        &Info {
          font-size: 14px;
          line-height: 22px;
        }
        .me {
          h1 {
            font-size: 26px;
          }
        }
      }
    }
  }
}