@import "src/common/styles/variables/variables";
@import "src/common/styles/mixins/mixins";


.mainBlockContent {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 30px;

  .colorBlock {
    background-color: $primaryColor;
    position: fixed;
    @include wh(100%, 200%);
    @include leftTop(-83%, -50%);
    transform: rotate(-15deg);
  }

  .welcomeBlock {
    position: relative;
    @include wh(100%, 100%);
    @include flex(flex, center, space-between);
    flex-wrap: wrap;

    .photo {
      @include background(cover, no-repeat, top);
      box-shadow: 0 0 7px rgba(0, 0, 0, .3);
      height: calc(100vh - 60px);
      border-radius: 15px;
      flex: 0 0 33.333%;
    }

    .aboutMe {
      flex: 0 0 33.333%;

      .greeting h6 {
        color: $secondTextColor;
        @include font(22px, 400);
        font-family: $secondFont;
        margin: 0;
        text-transform: uppercase;
      }

      .me {
        h1 {
          @include font(45px, 700);
          line-height: 45px;
          margin: 18px 0 10px;

          span {
            color: $primaryColor;
          }
        }
      }

      &Info {
        margin: 10px 0 23px;
        font-size: 16px;
        line-height: 32px;
        font-family: $secondFont;
      }
    }
  }
}


@media (max-width: 940px) {
  .welcomeBlock {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .welcome {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .mainBlock, .mainBlockContent {
    min-height: 70vh;
  }
}

@media (max-width: 500px) {

  .welcome h1 {
    font-size: 18px;
  }
}