@import "src/common/styles/variables/variables";
@import "src/common/styles/mixins/mixins";

.boxStartsColumn {
  flex: 0 0 50%;
  padding: 0 15px;
  margin-bottom: 30px;
  border-radius: 5px;

  .boxStartsItem {
    border: 1px solid #ddd;
    padding: 20px 30px 25px 40px;

    h3 {
      position: relative;
      display: inline-block;
      color: $primaryColor;
      @include font(50px, 700);
      margin: 0;
      line-height: 1.2;

      &::after {
        content: '+';
        position: absolute;
        right: -24px;
        @include font(33px, 300);
        top: 2px;
      }
    }

    p {
      padding-left: 45px;
      font-family: $secondFont;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        @include leftTop(0, 13px);
        @include wh(30px, 1px);
        background: $secondTextColor;
      }

      span {
        display: block;
        font-family: $secondFont;
        text-transform: uppercase
      }
    }
  }
}

@media (max-width: $tablets) {
  .boxStartsColumn {
    flex: 0 0 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    border-radius: 5px;

    .boxStartsItem {
      padding: 15px 20px 20px 25px;

      h3 {
        @include font(40px, 700);
        &::after {
          content: '+';
          position: absolute;
          right: -24px;
          @include font(33px, 300);
          top: 2px;
        }
      }

      p {
        padding-left: 0;
        font-family: $secondFont;
        text-transform: uppercase;
        position: relative;
        margin: 0;
        font-size: 14px;

        &::before {
          display: none;
        }

        span {
          display: block;
          font-family: $secondFont;
          text-transform: uppercase
        }
      }
    }
  }
}