@import "../../../../common/styles/variables/variables";
@import "../../../../common/styles/mixins/mixins";


.personalBox {
  flex: 0 0 50%;
  padding: 0 15px;

  .personalInfo {
    display: flex;
    h3{
      padding-bottom: 22px;
    }
  }
}

@media (max-width: $tablets) {
  .personalBox {
    margin-bottom: 48px;
  }
}

@media (max-width: 1286px) and (min-width: $tablets) {
  .personalBox {
    flex: 0 0 41.666%;
  }
}

@media (max-width: $mobile) {
  .personalBox{
    padding: 0;
  }
}