@import "../../../../common/styles/variables/variables";
@import "../../../../common/styles/mixins/mixins";


.personalBox {
  flex: 0 0 50%;
  padding: 0 15px;

  .personalInfo {
    display: flex;
    h3{
      padding-bottom: 22px;
    }
  }
}