// colors

$primaryColor: #f72b1c;
$elementsBc: #eee;
$secondTextColor: #777;

// fonts

$secondFont: 'Open Sans', sans-serif;


// media
$mobileXXS: 360px;
$mobileXS: 375px;
$mobile: 576px;
$lSPhones: 768px;
$tablets: 992px;
$ipadPro: 1024px;
$desktops: 1200px;
$xl: 1440px;