.footer{
  background-color: #bcbab9;
}
.footerContent{
  text-align: center;
}
.socialLinks{
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid;
}
.title h2{
  background-color: #7cdc58;
}

.copyright{
  background-color: #7cdc58;
}

@media (max-width: 400px) {
  .socialLinks{
    display: block;
  }
}