@import "src/common/styles/variables/variables";
@import "src/common/styles/mixins/mixins";

.contactsContent {
  padding-bottom: 85px;
  display: flex;
  margin: 0 -15px;
}

@media (max-width: 1300px) and (min-width: $tablets) {
  .contactsContent {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: $tablets) {
  .contactsContent {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}