@import "src/common/styles/mixins/mixins";
@import "src/common/styles/variables/variables";


.list {
  li {
    position: relative;
    @include wh(50px, 50px);
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: $elementsBc;

    a {
      @include wh(100%, 100%);

      .icon {
        position: absolute;
        @include leftTop(50%, 50%);
        font-size: 19px;
        transform: translate(-50%, -50%);
        transition: .3s;
      }
    }
  }

  .active {
    background: $primaryColor;

    .icon {
      color: #fff;
    }
  }
}